[submodule "Improved-Hagalaz-Mod"]
	path = Improved-Hagalaz-Mod
	url = https://github.com/zack-baker/Improved-Hagalaz-Mod
[submodule "Reroll-Dice-Expire-Mod"]
	path = Reroll-Dice-Expire-Mod
	url = https://github.com/zack-baker/Reroll-Dice-Expire-Mod
[submodule "The-D2"]
	path = The-D2
	url = https://github.com/zack-baker/The-D2
